<div class="container py-2 h-100 d-flex flex-column justify-content-center align-items-center">
  <div class="col-lg-8 col-md-10 mx-auto mt-2 text-center">
    <svg class="mb-4" xmlns="http://www.w3.org/2000/svg" width="128" height="128" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cloud-sun"><path d="M12 2v2"/><path d="m4.93 4.93 1.41 1.41"/><path d="M20 12h2"/><path d="m19.07 4.93-1.41 1.41"/><path d="M15.947 12.65a4 4 0 0 0-5.925-4.128"/><path d="M13 22H7a5 5 0 1 1 4.9-6H13a3 3 0 0 1 0 6Z"/></svg>

    <h1 class="display-3 fw-bold text-primary-gradient">
      CloudWaste
    </h1>

    <div class="col-lg-10 col-md-10 mx-auto mt-5">
      <form action="/join" method="post">
        <div class="row g-3">
          <div class="col-md-8">
            <input type="email" class="form-control form-control-lg" id="email" name="email" placeholder="Email" value="">
          </div>
          <div class="col-md-4">
            <button type="submit" class="form-control btn btn-lg btn-primary">Join waitlist</button>
          </div>
        </div>
      </form>
    </div>

    <hr class="my-5 opacity-0">

    <p class="text-secondary text-center mt-5"><strong>CloudWaste</strong> is made by <a href="https://vinua.com">Vinua</a></p>
  </div>
</div>
